body, html,.App,.workspaces, #root {
    height: 100%;
    overflow: hidden;
}
.workspaces{
    background: #f9f9f9;
    overflow: hidden;
    height: 600px;
}
.header{
    height: 70px;
    background: #111;
}
.body{
    height: calc(100% - 70px);
    background: red;
}
.nav{
    height: 100%;
    float: left;
    width: 70px;
    background: #111;
}
